empresa {
	color: #006064;
	font-family: "Comic sans ms";
	font-size: 100px;
	display: block;
    text-align: center;
}

profesores {
	width: 250px;
	display: inline-block;
}

/*
id {
	width: 250px;
	display: inline-block;
}
*/